<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>HealthLX demo app</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/locale/en.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/theme-chalk/index.css">
	<style>
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin: 0;
		}
		.hlx-logo {
			float: right;
		}
		.hlx-logo > img {
			float: right;
			width: 40%;
		}
		#app {
			min-height: 100vh;
		}
		.el-select {
			width: 100%;
		}
  </style>
</head>

<body>

	<template id="hlx-patient-form">
		<el-form
			ref="patientForm"
			:rules="rules"
			v-loading="loading"
			:model="context"
			label-width="120px"
		>

			<el-form-item label="Patient"> <!-- todo show smth better when there are no patient selected -->
				<el-input v-model="context.patient.name" :readonly="true"></el-input>
			</el-form-item>

			<el-form-item label="Coverage" prop="coverageId">
				<el-select v-model="context.coverageId" @change="onChange">
					<el-option
						v-for="coverage in context.coverages"
						:label="coverage.payorName"
						:value="coverage.id"></el-option>
				</el-select>
			</el-form-item>

			<el-form-item>
				<el-button @click="submitForm" type="primary">Import historical data from payer A</el-button>
			</el-form-item>

			<el-card v-if="card">
				<pre slot="header">{{card.summary}}</pre>
				<template v-if="card.source">
					Source: <el-link type="primary" :href="card.source.url">{{card.source.label}}</el-link>
				</template>
				<template v-for="link in card.links">
					<el-link type="primary" :href="link.url">{{link.label}}</el-link>
				</template>
			</el-card>
		</el-form>
	</template>

	<template id="hlx-import-form">

		<el-form v-loading="loading">
			<el-form-item v-for="(values, key) in records">
				<el-table :data="values">
					<el-table-column property="display" :label="key | display"></el-table-column>
				</el-table>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="onImport">Import</el-button>
			</el-form-item>
		</el-form>
	</template>

	<template id="hlx-smart-form">
		<hlx-import-form v-if="payerServerUrl"
			:payer-server-url="payerServerUrl"></hlx-import-form>
		<hlx-patient-form v-else></hlx-patient-form>
	</template>

	<el-container id="app" width="320px">

		<el-header>
      <el-image src="da-vinci_logo.jpg" alt="Da Vinci"></el-image>
		</el-header>

		<el-main>
			<el-row type="flex" justify="center">
				<el-col :span="8" :xs="16" :sm="16" :md="8">
					<router-view></router-view>
				</el-col>
			</el-row>
		</el-main>
    <el-footer>
      <el-image src="healthlx-logo.png" alt="HealthLX" class="hlx-logo"></el-image>
    </el-footer>

	</el-container>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var baseAuthUrl = /*[[${payerAAuthUrl}]]*/ '';
		var payerAClientId = /*[[${payerAClientId}]]*/ '';
		var redirectUri = /*[[${redirectUri}]]*/ '';
		var state = /*[[${state}]]*/ '';
		var aud = /*[[${aud}]]*/ '';
		/*]]>*/
	</script>

	<script>
		Vue.use(VueRouter);
		ELEMENT.locale(ELEMENT.lang.en);
		function qs(query = {}) {
			return Object.entries(query).map(q => q[1] ? q.join("=") : null).filter(Boolean).join("&");
		}
		function errorMessage(data) {
			return data ? 'Error: ' + data : 'Error happened.';
		}
		var hlxPatientForm = Vue.component("hlx-patient-form", {
			template: "#hlx-patient-form",
			data() {
				return {
					loading: false,
					context: {
						patient: {},
						encounterId: null,
						coverageId: undefined,
						coverages: []
					},
					card: null,
					rules: {
						coverageId: [
							{ required: true, message: 'Please select coverage', trigger: 'change' }
						]
					}
				};
			},
			mounted() {
				this.loading = true;
				axios.get("/current-context").then(response => {
					this.context = response.data;
				}).catch(error => {
					this.$message.error(errorMessage(error.response.data.message));
				}).finally(() => {
					this.loading = false;
				});
			},
			methods: {
				onChange() {
					this.loading = true;
					const coverageId = this.context.coverageId;
					axios.get(`/pick-coverage?${qs({coverageId})}`)
							.catch(error => {
									this.$message.error(errorMessage(error.response.data.message));
							}).finally(() => {
										this.loading = false;
							});
				},
				submitForm() {
					this.$refs.patientForm.validate(valid => {
						if (!valid) {
							return false;
						}
						window.location.href = baseAuthUrl+ "?response_type=code&client_id="+payerAClientId+"&redirect_uri="+redirectUri+"&state="+state+"&aud="+aud;
					});
				}
			}
		});
		var hlxImportForm = Vue.component("hlx-import-form", {
			template: "#hlx-import-form",
			props: ["payerServerUrl"],
			data() {
				return {
					loading: false,
					records: {}
				}
			},
			mounted() {
				const payerServerUrl = this.payerServerUrl;
				this.loading = true;
				axios.get("/current-context").then(response => {
					this.context = response.data;
			}).then( () =>
				axios.get(`/get-payer-records?${qs({payerServerUrl})}`).then(response => {
					this.records = response.data;
			})
			).catch(error => {
          this.$message.error(errorMessage(error.response.data.message));
				}).finally(() => {
					this.loading = false;
				});
			},
			filters: {
				display: (value) => value.split(".").pop()
			},
			methods: {
				onImport() {
					let data = {};
					for (let key in this.records) {
						data[key] = this.records[key].map(record => record.id);
					}
					const payerServerUrl = this.payerServerUrl;
					const patientId = this.patientId;
					this.loading = true;
					axios.post(`/import-records?${qs({payerServerUrl, patientId})}`, data).then(() => {
						this.$alert(
								'Now you will be navigated to home page',
								'Success',
								{
									confirmButtonText: 'OK',
									callback: action => {
									window.location.href =  "/logout";
									}
								});
					}).catch(error => {
						this.$message.error(errorMessage(error.response.data.message));
					}).finally(() => {
						this.loading = false;
					});
				}
			}
		});
		var hlxSmartForm = Vue.component("hlx-smart-form", {
			template: "#hlx-smart-form",
			props: ["payerServerUrl", "subscriberId", "patientId"]
		});
		var router = new VueRouter({
			mode: "history",
			routes: [{
				path: "*",
				component: hlxSmartForm,
				props: (route) => ({
					payerServerUrl: route.query.payerServerUrl,
					subscriberId: route.query.subscriberId,
					patientId: route.query.patientId
				})
			}]
		});
		var app = new Vue({
			el: "#app",
			router
		})
	</script>
</body>
</html>