<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HealthLX demo app</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/locale/en.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/theme-chalk/index.css">
	<style>
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>
	<template id="hlx-patient-form">
		<el-form :model="context" label-width="120px">
			<el-form-item label="Patient">
				<el-input v-model="context.patient.name" :readonly="true"></el-input>
			</el-form-item>
			<el-form-item label="Practitioner">
				<el-input v-model="context.practitioner.name" :readonly="true"></el-input>
			</el-form-item>
			<el-form-item label="Coverage">
				<el-select v-model="context.coverageId">
					<el-option
						v-for="coverage in context.coverages"
						:label="coverage.payorName"
						:value="coverage.id"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="onSubmit">Submit</el-button>
			</el-form-item>
			<el-card v-if="card">
				{{card.summary}}
				<template v-if="card.source">
					<hr>
					Source: <a :href="card.source.url">{{card.source.label}}</a>						
				</template>
				<template v-for="link in card.links">
					<hr>
					<a :href="link.url">{{link.label}}</a>
				</template>
			</el-card>
		</el-form>
	</template>
	<template id="hlx-import-form">
		<el-form>
			<el-form-item v-for="list in records">
				<el-table :data="list">
					<el-table-column type="selection" width="55"></el-table-column>
					<el-table-column property="id" label="ID"></el-table-column>
					<el-table-column property="display" label="Description"></el-table-column>
				</el-table>
			</el-form-item>
		</el-form>
	</template>
	<template id="hlx-smart-form">
		<hlx-import-form v-if="payerServerUrl && subscriberId && patientId"
			:payer-server-url="payerServerUrl" :subscriber-id="subscriberId" :patient-id="patientId"></hlx-import-form>
		<hlx-patient-form v-else></hlx-patient-form>
	</template>
	<el-container id="app" width="320px">
		<el-header>
			<el-image src="healthlx-logo.png" alt="HealthLX"></el-image>
		</el-header>
		<el-main>
			<el-row type="flex" justify="center">
				<el-col :span="8" :xs="16" :sm="16" :md="8">
					<router-view></router-view>
				</el-col>
			</el-row>
		</el-main>
	</el-container>
	<script>
		Vue.use(VueRouter);
		ELEMENT.locale(ELEMENT.lang.en);

		const PAYER_SERVER_URL = "https://api-v8-r4.hspconsortium.org/healthlxr4test/open";

		function qs(query = {}) {
			return Object.entries(query).map(q => q[1] ? q.join("=") : null).filter(Boolean).join("&");
		}

		var hlxPatientForm = Vue.component("hlx-patient-form", {
			template: "#hlx-patient-form",
			data() {
				return {
					context: {
						patient: {},
						practitioner: {},
						encounterId: null,
						coverageId: null,
						coverages: []
					},
					card: null
				};
			},
			mounted() {
				axios.get("/current-context").then(response => {
					console.debug (response.data);
					this.context = response.data;
				}).catch(error => console.error(error));
			},
			methods: {
				onSubmit() {
					const patientId = this.context.patient.id;
					const practitionerId = this.context.practitioner.id;
					const encounterId = this.context.encounterId;
					const coverageId = this.context.coverageId;

					axios.post(`/call-hook?${qs({patientId, practitionerId, encounterId, coverageId})}`, this.context).then(response => {
						this.card = response.data.cards[0];
					}).catch(error => console.error(error));
				}
			}
		});

		var hlxImportForm = Vue.component("hlx-import-form", {
			template: "#hlx-import-form",
			props: ["payerServerUrl", "subscriberId", "patientId"],
			data() {
				return {
					records: {}
				}
			},
			mounted() {
				const payerServerUrl = this.payerServerUrl;
				const subscriberId = this.subscriberId;
				const patientId = this.patientId;

				axios.get(`/get-payer-records?${qs({payerServerUrl, subscriberId, patientId})}`, this.records).then(response => {
					this.records = response.data;
				}).catch(error => console.error(error));
			},
		});


		var hlxSmartForm = Vue.component("hlx-smart-form", {
			template: "#hlx-smart-form",
			props: ["payerServerUrl", "subscriberId", "patientId"]
		})

		var router = new VueRouter({
			mode: "history",
			routes: [{
				path: "*",
				component: hlxSmartForm,
				props: (route) => ({
					payerServerUrl: route.query.payerServerUrl,
					subscriberId: route.query.subscriberId,
					patientId: route.query.patientId
				})
			}]
		});

		var app = new Vue({
			el: "#app",
			router
		})
	</script>
</body>
</html>
